<!--h1>Добро пожаловать!</h1-->

<% if user_signed_in? %>
    <h2 style="color:green">Добро пожаловать</h2>
    <p><a href="/posts">Нажмите здесь, чтобы перейти к дневнику.</a></p>
<% else %>
    <h2 style="color:red">К сожалению доступ к системе имеют только зарегистрированные учасники</h2>
 <% end %>
 <blockquote style="font-style: italic">Дурак не тот, кто не знает. Дурак тот, кто знает – да не применяет! <br>Ю.Мороз</blockquote>
